[user]
	name       = ryuta69
	email      = eyma22s.yu@gmail.com
	signingkey = 7EB4C638CC86724B
[alias]
	ad  = add
	ada = add -A
        adf = !git status -s | fzf -m | awk '{print $NF}' | xargs git add
	br  = branch
	bra = branch -A
	cm  = commit --verbose
	co  = checkout
	cob = checkout -b
	cof = !git branch | fzf | xargs git checkout
	df  = diff
	dfh = diff HEAD
	dft = difftool
	lg  = log
	lgp = log -p
	lgs = log -stat
	lgg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cs) %C(bold blue)<%an>%Creset' --abbrev-commit
	mt  = mergetool
	st  = status
 	ps  = !git push origin `git rev-parse --abbrev-ref HEAD`
	pl  = !git pull origin `git rev-parse --abbrev-ref HEAD`
	rb  = rebase
	rf  = reflog --date=iso
	rs  = reset
[core]
	editor = nvim
	hooksPath = /Users/ryuta69/git_template
[color]
	ui = true
[commit]
	gpgsign = true
	template = /Users/ryuta69/git_template/commit-template
[credential]
	helper = osxkeychain
[diff]
	tool      = vimdiff
	prompt    = false
	algorithm = histogram
[difftool]
	prompt = false
[difftool "vimdiff"]
	path   = nvim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[ghq]
	root = ~/.ghq
[gpg]
	program = gpg2
[merge]
	ff            = false
	tool          = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[mergetool "vimdiff"]
	path   = nvim
[pager]
	log  = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[pull]
	ff = only
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
