[user]
	name       = ryuta69
	email      = eyma22s.yu@gmail.com
	signingkey = 7EB4C638CC86724B

[alias]
	ad  = add
	ada = add -A
	adf = !git status -s | fzf -m | awk '{print $NF}' | xargs git add
	br  = branch
	bra = branch -a
	brd = !git branch | fzf | xargs git branch -D
	brr = !git fetch && git checkout -b $1 origin/$1
	cm  = commit --verbose
	cl  = clean -fd
	co  = checkout
	cob = checkout -b
	cof = !git branch | fzf | xargs git checkout
	cop = !hub pr checkout `hub pr list | fzf`
	cp  = cherry-pick
	df  = diff
	dfh = diff HEAD
	dfr = !git diff origin `git rev-parse --abbrev-ref HEAD`
	dft = difftool
	fpr = !git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request' | head -n 1;
	g   = !ghq get
	lg  = log
	lgb = !git log --oneline --first-parent $1..$2
	lgp = log -p
	lgs = log --stat
	lgg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cs) %C(bold blue)<%an>%Creset' --abbrev-commit
	mt  = mergetool
	md  = !git branch -r --merged | grep -v 'master\\|develop' | sed 's/origin\\///' | xargs -n 1 git push --delete origin && git fetch origin --prune
	op  = !hub browse
	opg = !hub browse `ghq list | fzf | cut -d "/" -f 2,3`
	opi = !hub issue show `hub issue | fzf`
	opp = !hub pr show `hub pr list | fzf`
 	ps  = push
 	pss = !git push origin `git rev-parse --abbrev-ref HEAD`
	pl  = pull
	pll = !git pull origin `git rev-parse --abbrev-ref HEAD`
	rb  = rebase
	rf  = reflog --date=iso
	rs  = reset
	rsh = reset --hard
	rmg = !rm -rf `ghq list -p | fzf`
	rv  = revert
	rvr = !git revert $1^..$2
	st  = status
	ss  = stash save
	sc  = stash clear
	sl  = !git stash list | awk -F':' '{print $1}' | fzf --preview 'git -c color.ui=always stash show -p {}'
	sp  = !git stash pop `git stash list | awk -F':' '{print $1}' | fzf --preview 'git -c color.ui=always stash show -p {}'`
	sd  = !git stash drop `git stash list | awk -F':' '{print $1}' | fzf --preview 'git -c color.ui=always stash show -p {}'`
	spr = !"f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
	sk  = update-index --skip-worktree
	usk = update-index --no-skip-worktree
	vi  = !nvim ~/.gitconfig
	lf  = !git lfs install
	ulf = !git lfs uninstall && touch **/* && git commit -a

[core]
	editor = nvim
	hooksPath = ~/.git_template
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	pager = delta --theme='Monokai Extended'

[color]
	ui = true
	diff = auto
	branch = auto
	status = auto
        showbranch = auto

[color "branch"]
	local = green
	remote = red
	current = green reverse

[color "diff"]
	old = red bold
	new = green bold
	meta = yellow bold
	frag = magenta bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[commit]
	gpgsign = true
	template = ~/.git_template/commit-template

[credential]
	helper = osxkeychain

[diff]
	prompt    = false
	tool      = vimdiff
	algorithm = histogram

[difftool]
	prompt = false

[difftool "vimdiff"]
	path   = nvim

[ghq]
	root = ~/.ghq

[gpg]
	program = gpg2

[interactive]
	diffFilter = delta --color-only

[merge]
	ff            = false
	conflictstyle = diff3
	tool          = vimdiff

[mergetool]
	prompt = false

[mergetool "vimdiff"]
	path   = nvim

[pull]
	ff = only

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
