[client]
default-character-set = utf-8
pager = 'vim -'

[mysqld]
expire_logs_days=7
log_slow_queries = /var/log/mysql/log-slow-queries.log
slow_query_log = 1
long_query_time = 2
log-queries-not-using-indexes
