[submodule "Uebersicht"]
	path = dotfiles/Library/Application Support/Uebersicht/widgets/simple_ubersicht_status_bar
	url = https://github.com/ulwlu/simple_ubersicht_status_bar.git
[submodule "Alfred"]
	path = dotfiles/Library/Application Support/Alfred
	url = https://github.com/ulwlu/Alfred.git
