[client]
default-character-set = utf8
pager = 'less'

[mysql]
prompt = '\\u@\\d > '

[mysqld]
init_connect = 'SET AUTOCOMMIT=0'
expire_logs_days = 7
log_slow_queries = /var/log/mysql/log-slow-queries.log
slow_query_log = 1
long_query_time = 2
log-queries-not-using-indexes
