[user]
	name       = ryuta69
	email      = eyma22s.yu@gmail.com
	signingkey = 7EB4C638CC86724B
[core]
	editor = nvim
[color]
	ui = auto
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean    = git-lfs clean -- %f
	smudge   = git-lfs smudge -- %f
	process  = git-lfs filter-process
	required = true
[alias]
	lo  = log
	cm  = commit
	df  = diff --word-diff
	bra = branch -A
	brd = branch -D
	st  = status
	co  = checkout
	cob = checkout -b
	ad  = add
	ada = add -A
	rb  = rebase
	rbi = rebase -i
 	ps  = !git push origin `git rev-parse --abbrev-ref HEAD`
	pl  = !git pull origin `git rev-parse --abbrev-ref HEAD`
	rs  = reset --hard
	lg  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[commit]
	gpgsign = true
[gpg]
	program = gpg2
[pager]
	log  = diff-highlight | less -RX
	show = diff-highlight | less -RX
	diff = diff-highlight | less -RX
[diff]
	tool                = vimdiff
	algorithm           = histogram
	compactionHeuristic = true
[merge]
	ff = false
[pull]
	ff = only
[ghq]
	root = ~/.ghq
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
